# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
kicad-project/*.kicad_pcb-bak
kicad-project/*.kicad_sch-bak
kicad-project/*.kicad_prl
kicad-project/garage-door-controller-backups
kicad-project/production/backups/
*~
kicad-project/_autosave-*
*.tmp
kicad-project/*-save.pro
kicad-project/*-save.kicad_pcb
kicad-project/fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
kicad-project/*.net

# Autorouter files (exported from Pcbnew)
kicad-project/*.dsn
kicad-project/*.ses

# Exported BOM files
*.xml
*.csv
